body {
    text-align: center;
    background-image: url('static/summer.gif');
    background-size: cover;
    height: 100vh;
    padding: 0;
    margin: 0;
    font-family: "DynaPuff", sans-serif;
}

.heading {
    padding: 3%;
}

h1 {
    font-weight: bold;
    outline: 5px white;
    animation: tilt-n-move-shaking 0.4s infinite, fontbulger 0.4s infinite;
}

@keyframes fontbulger {

    0%,
    100% {
        font-size: 500%;
    }

    50% {
        font-size: 490%;
    }
}

@keyframes tilt-n-move-shaking {
    0% {
        transform: translate(0, 0) rotate(0deg);
    }

    25% {
        transform: translate(5px, 5px) rotate(5deg);
    }

    50% {
        transform: translate(0, 0) rotate(0eg);
    }

    75% {
        transform: translate(-5px, 5px) rotate(-5deg);
    }

    100% {
        transform: translate(0, 0) rotate(0deg);
    }
}

.description {
    width: 70%;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 5%;
}

h2 {
    font-size: 3vh;
}

h3 {
    font-size: 1.5vh;
}

p {
    margin: 5px;
    font-size: 1.1vh;
}


.playlist {
    bottom: 0;
    left: 0;
    max-width: 50%;
    position: absolute;
    opacity: 0.85;
}

.maps {
    bottom: 0;
    right: 0;
    max-width: 50%;
    position: absolute;
    opacity: 0.85;
}

iframe {
    border-radius: 5%;
    border: 0;
}

marquee {
    font-size: 2vh;
    color: red;
    font-family: "Silkscreen", sans-serif;
    font-weight: bold;
}