body {
    text-align: center;
    background-image: url('static/summer.gif');
    background-size: cover;
    height: 100vh;
    padding: 0;
    margin: 0;
    font-family: "DynaPuff", sans-serif;
    position: relative;
}

h1 {
    font-size: 7vh;
    font-weight: bold;
    outline: 5px white;
    -webkit-text-stroke: 0.7px white;
}

.description {
    width: 70%;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 5%;
}

h2 {
    font-size: 3vh;
}

h3 {
    font-size: 1.5vh;
}

p {
    margin: 5px;
    font-size: 1.1vh;
}


.playlist {
    bottom: 0;
    left: 0;
    max-width: 50%;
    position: absolute;
    opacity: 0.85;
}

.maps {
    bottom: 0;
    right: 0;
    max-width: 50%;
    position: absolute;
    opacity: 0.85;
}

iframe {
    border-radius: 5%;
    border: 0;
}

marquee {
    font-size: 2vh;
    color: red;
    font-family: "Silkscreen", sans-serif;
    font-weight: bold;
}
